# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environments
.venv/
.venv-gpu/

# TensorFlow / Keras artifacts
checkpoint/
*.h5
*.keras

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

*.zip

cs510prog5.pdf
